{% extends "base.html" %}
{% block title %}<title>DNS Control Panel - Domain does not exist</title>{% endblock %}

{% block dashboard_stat %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Domain
        <small>Not Found</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>Domain not found</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow" align="left">Cannot find Domain.</h2>
        <div class="error-content">
            <h3>
                <i class="fa fa-warning text-yellow"></i> Domain does not exist!
            </h3>
            <p>
                Domain not found in Power DNS API (or) domain name is invalid.
                You may <a href="{{ url_for('dashboard') }}">return to the dashboard</a>.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
{% endblock %}
