{% extends "base.html" %}
{% block title %}<title>DNS Control Panel - API Failure</title>{% endblock %}

{% block dashboard_stat %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        API down
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>API Failure</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow">API Failure.</h2>
        <br/>
        <br/>
        <br/>
        <div class="error-content">
            <h3>
                <i class="fa fa-warning text-yellow"></i> Either API server is down (or) API is unable to get record data for the domain.
            </h3>
            <p>
                Try again later.
                You may <a href="{{ url_for('dashboard') }}">return to the dashboard</a>.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
{% endblock %}
